/****** 공통 ******/

#wrap {
	width: 100%;
}

#content {
	width: 1000px;
	height: 300px;
	margin: 0 auto;
}

#brand_logo {
	margin-top: 12px;
}

#user_nav {
	float: right;
	margin-top: -22px;
}

#user_nav li, #main_nav li {
	display: inline;
}

#main_nav {
	margin: 0 auto;
	margin-top: 20px;
}

#main_nav ul {
	display: inline;
}

#user_nav li a,
#user_nav li a:link, 
#user_nav li a:hover, 
#user_nav li a:visited,
#user_nav li a:active {
	color: gray;
	font-weight:bold;
	font-size: 9pt;
	text-decoration: none;
}

#main_nav li a,
#main_nav li a:link, 
#main_nav li a:hover, 
#main_nav li a:visited,
#main_nav li a:active {
	color: white;
	font-weight:bold;
	font-size: 9pt;
	text-decoration: none;
}

#main_menu_space {
	padding: 0 12px 0 11px;
	display: inline;
}

#blog_menu {
	padding: 9px 0;
	background: url(../img/navbar_bgblue.jpg);
}

#homepage_menu {
	padding: 9px 0;
	background: url(../img/navbar_bgsky.jpg);
}

#blog_menu li, #homepage_menu li {
}

/****** 공통 ******/